body {
  background-image: linear-gradient(to top right, red, white);
  }

.satu {
    width: 500px;
    height: 400px;
    margin: 0 35%;
    border: 1px solid black;
    background-image: radial-gradient(circle at 50% 100%, white, blue);
    /* background-color: blue; */
  }

.dua {
    width: 500px;
    height: 200px;
    margin: 0 35%;
    border: 1px solid black;
    background-image: linear-gradient(to right, white, blue, white);
  }
